<div [ngSwitch]="loginStatus">
    <h1>
        WhatToDo?!
    </h1>
    <div (click)='showSignIn()'>Sign In</div>
    <div *ngSwitchCase='"SignIn"'>
        <label>

            Name
            <input type="text">
        </label>
        <label>
            password
            <input type="password">
        </label>
        <label>
            confirm password
            <input type="password">
        </label>
        <input type="submit" [routerLink]='["/main"]'>
    </div>
    <div (click)='showSignUp()'>Sign UP</div>
    <div *ngSwitchCase='"SignUp"'>
            <label>

                    Name
                    <input type="text">
                </label>
                <label>
                    password
                    <input type="password">
                </label>
                <input type="submit" [routerLink]='["/main"]'>
    </div>
    <div (click)='showWOLogin()'>Continue w/o login</div>
    <div *ngSwitchCase='"WOLogin"'>
        You could save your lists only on your current device
        <input type="submit" value="Continue" [routerLink]='["/main"]'>
    </div>
</div>